@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Roboto", sans-serif;
  background-color: #EEF9BF;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

h1{
  position: absolute;
  top:10%;
  left: 0%;
  font-weight: bold;
  width: 100vw;
  color: #75B79E;
  text-align: center;
  font-size: 56px;
  word-spacing: 0.1em;
  line-height: 1.15;
  margin-bottom: -4px;
}

.cartas {
  margin: 0 auto;
  width: 85%;
  height: 40%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.carta{
  height: 146px;
  width: 117px;
  background-color: #A7E9AF;
  border: 1px solid #99CEA8;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-bottom: 40px;
  cursor: pointer;
  transition: all 500ms;
}

.carta img {
  width: 100px;
  height: 100px;
}

.no-display {
  display:none;
}

.carta:active{
  transform: rotatey(180deg);
}

.tempo {
  position: absolute;
  top:10px;
  left: 10px;
  text-align: start;
  font-size: 24px;
}

@media (max-width:350px) {

  h1{
    position: absolute;
    top:10%;
    left: 0%;
    font-weight: bold;
    font-size: 36px;
    color: #75B79E;
    text-align: center;
  }

  .carta{
    margin-left: 20px;
    margin-right: 20px;
  }

  .tempo{
    font-size: 16px;
  }
}